files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/cloud-init.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/tomcat/spring.log
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/applogs.conf":
      mode: "000755"
      owner: root
      group: root
      content: |
        /var/log/tomcat/spring.log